server:
  port: 8702
management:
  endpoints:
    web:
      exposure:
        include: "health,metrics,prometheus"
  endpoint:
    health:
      show-details: always
  tracing:
    enabled: true
    sampling:
      probability: 1.0
spring:
  application:
    name: app-entrypoint
  jackson:
    default-property-inclusion: non_null
springdoc:
  api-docs:
    path: /v3/api-docs
tracekitchen:
  common:
    openapi-title: Downstream API
  entrypoint:
    downstream-base-url: http://localhost:8701
  trace-id-header-names: X-Trace-Id
  span-id-header-names: X-Span-Id
  parent-span-id-header-names: X-Parent-Span-Id
