server:
  port: 8701
management:
  endpoints:
    web:
      exposure:
        include: "health,metrics,prometheus"
  endpoint:
    health:
      show-details: always
  tracing:
    enabled: true
    sampling:
      probability: 1.0
spring:
  application:
    name: tracekitchen-downstream
  jackson:
    default-property-inclusion: non_null
springdoc:
  api-docs:
    path: /v3/api-docs
tracekitchen:
  common:
    openapi-title: Downstream API
